<div id="mission" class="span16">
	<div class="row">
		<div class="panel_section">
			<div class="content_text">
				<h1><%= t("mission_title")%></h1>
				<br />
				<br />
				<p>
					<%= t("mission_text1")%>
				</p>
				<p>
					<%= t("mission_text2")%>
				</p>
				<p>
					<%= t("mission_text3")%>
				</p>
				<br />
				<br />
				<h1><%= t("values_title")%></h1>
				<br />
				<br />
				<%= t("values_text_html")%>
				<br />
				<ul>
					<li>
						Les résultats
					</li>
					<li>
						La qualité de nos livrables
					</li>
					<li>
						La réalisation
					</li>
					<li>
						L’efficacité globale de nos interventions
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
