<div id="mandat" class="span16">
	<div class="img_head">
		<%= image_tag("avis_recherche_carouselle_" + I18n.locale.to_s + ".jpg", :width=>"960px")%>
	</div>
	<div class="row">
		<div class="panel_section">
			<div class="content_text">
				<h1>Mandats</h1>
				<br />
				<% @mandat.each do |m|%>
				<hr />
				<ul>
					<li>
						<span class="mandat_title"><%= m.title%></span>
					</li>
					<br/>
					<br/>
					<p>
						<b>Description :</b>
					</p>
					<pre>
						<%= m.description %>
					</pre>
					<p>
						<b>Durée : </b>
					</p>
					<p>
						<%= m.duree %><%= " - possiblilité de renouvellement." if m.renew? %>
					</p>
					<p>
						<b>Lieu :</b>
					</p>
					<p>
						<%= m.location? ?  m.location : "Non dispo" %>
					</p>
					<p>
						<%= localize(m.created_at, :format=> '%d-%m-%Y') %>
					</p>
				</ul>
				<%end%>
			</div>
		</div>
	</div>
</div>
