<!-- FOOTER  -->
<div class="container">
	<div class="row">
		<div class="span-one-third">
			<div class="news">
				<h2><%=t("footer_news")%></h2>
				<p class="text_footer">
					Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem
				</p>
			</div>
		</div>
		<div class="span-one-third">
			<div class="about">
				<h2><%=t("footer_who")%></h2>
				<p class="text_footer">
					DévelopMen est une jeune entreprise dynamique formée de 6 consultants séniors en développement de projet. Notre compagnie se démarque par la qualité des consultants qui en forment le noyau. Chacun des six associés détient plus de 15 années d'ancienneté dans le domaine des T.I.
				</p>
				<p class="text_footer"><%= link_to "-suite-", :controller=>"developmen"%></p>
			</div>
		</div>
		<div class="span-one-third">
			<div class="social">
				<h2><%=t("footer_social")%></h2>

				<p class="text_footer">
					<%=t("footer_follow")%>
				</p>
				<p><%= image_tag("social_networking/facebook_16.png") %>&nbsp;&nbsp;<%= link_to "Facebook", "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" %></p>
				<p><%= image_tag("social_networking/twitter_16.png") %>&nbsp;&nbsp;<%= link_to "Twitter", "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" %></p>
				<p><%= image_tag("social_networking/linkedin_16.png") %>&nbsp;&nbsp;<%= link_to "LinkedIn", "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" %></p>
			</div>
		</div>
	</div>
</div>
