<!-- HEADER  Ben-->
<div>
	<div class="topbar-wrapper" style="z-index: 5;">
		<div class="topbar" data-dropdown="dropdown" data-scrollspy="scrollspy">
			<div class="topbar-inner">
				<div class="menu container">
					<ul class="nav">
						<li>
							<%= link_to "Accueil", :controller=>"home" %>
						</li>
						<li>
							<%= link_to "Mission", :controller=>"mission" %>
						</li>
						<li></li>
						<li>
							<%= link_to "Services", :controller=>'service'%>
						</li>
						<li>
							<%= link_to "DévelopMen", :controller=>'developmen'%>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">Notre équipe</a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to "Tous", :controller=>"equipe"%>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to "Benoit", "/equipe/benoit"%>
								</li>
								<li>
									<%= link_to "Stephane", "/equipe/stephane"%>
								</li>
								<li>
									<%= link_to "Sylvain", "/equipe/sylvain"%>
								</li>
								<li>
									<%= link_to "Sue-Marie", "/equipe/suemarie"%>
								</li>
								<li>
									<%= link_to "Régis", "/equipe/regis"%>
								</li>
								<li>
									<%= link_to "Frederic", "/equipe/fred"%>
								</li>
							</ul>
						<li>
							<%= link_to "Contact", :controller=>'contact'%>
						</li>
							
						</li>
						<li style="margin-left: 270px">
							<%=link_to image_tag("social_networking/linkedin_32.png"), "http://www.linkedin.com/company/d-velopmen", :style=>"padding: 7px 7px 0px;"%>
						</li>
						<li>
							<%= link_to image_tag("social_networking/twitter_32.png"), "http://www.linkedin.com/company/d-velopmen", :style=>"padding: 7px 7px 0px;"%>
						</li>
						<li>
							<%= link_to image_tag("social_networking/facebook_32.png"), "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557", :style=>"padding: 7px 7px 0px;"%>
						</li>
						<li >
							<%= link_to image_tag("social_networking/email_32.png"), "http://www.linkedin.com/company/d-velopmen", :style=>"padding: 7px 7px 0px;"%>
						</li>
						
					</ul>
<!-- 					<form class="pull-left" action="">
						<input type="text" placeholder="Search" />
					</form> -->				</div>
			</div><!-- /topbar-inner -->
		</div><!-- /topbar -->
	</div><!-- /topbar-wrapper -->
</div>
