<!--
----------------------------------------------
Include the carrousel only in the home page.
Remove the if to see it in each page
----------------------------------------------
-->
<div id="carousel_container">
	<%= render "carousel" %>
</div>
 <!-- <%= image_tag("header_01.jpg", :id=>"header_img") %> -->
<div class="span6">
	<div class="maincontent_text">
		<h4>Derniers mandats</h4>
		<% @mandat.each do |m|%>
		<ul>
			<li>
				<span class="label important"><%= m.title%></span>
			</li>
			<p>
				<%= m.description %>
			</p>
			<p>
				<%= m.duree %><%= " - possiblilité de renouvellement." if m.renew? %>
			</p>
		</ul>
		<%end%>
		<%= link_to "Tous les mandats", "#"%>
	</div>
</div>
<div class="span10">
	<div class="maincontent_text">
		<h1>Supers Héros pour vos projets T.I.</h1>
		<p>
			DevelopMen, c'est d'abord six partenaires ayant fait leurs preuves depuis plus de 20 ans dans la réalisation de différents projets informatiques dans la région de Montréal.
		</p>
		<p>
			Notre équipe compte les joueurs clés dont tout projet TI a besoin:
		</p>
		<p>
			<ul>
				<li>
					Gestionnaires de projets / programmes
				</li>
				<li>
					Analystes d’affaires
				</li>
				<li>
					Architectes technologiques
				</li>
				<li>
					Concepteurs
				</li>
				<li>
					Développeurs
				</li>
				<li>
					Administration de système
				</li>
			</ul>
		</p>
		<p>
			Avec l'équipe DevelopMen, vos projets de moyenne à grande envergure sont entre bonnes mains.  Si la tâche se révèle trop fastidieuse, notre grand réseau de contacts nous permettra d’appeler d'autres supers héros à la rescousse.
		</p>
	</div>
</div>
