<%= javascript_include_tag "home", "jquery.infinitecarousel" %> <!--
----------------------------------------------
Include the carrousel only in the home page.
Remove the if to see it in each page
----------------------------------------------
-->
<div id="carousel_container">
	<%= render "carousel" %>
</div>
<!-- <%= image_tag("header_01.jpg", :id=>"header_img") %> -->
<div class="span6">
	<div class="content_text content_text_mandats">
		<h6>Derniers mandats</h6>
		<br />
		<% @mandat.each do |m|%>
		<ul>
			<li>
				<span class="label success"><%= m.title%></span>
			</li>
			<br>
			<p>
				<b>Description :</b>
			</p>
			<pre>
				<%= m.description %>
			</pre>
			<p>
				<b>Durée : </b>
			</p>
			<p>
				<%= m.duree %><%= " - possiblilité de renouvellement." if m.renew? %>
			</p>
			<p>
				<b>Lieu :</b>
			</p>
			<p>
				<%= m.location? ?  m.location : "Non dispo" %>
			</p>
			<p>
				<%= localize(m.created_at, :format=> '%d-%m-%Y') %>
			</p>
		</ul>
		<%end%>
		<%= link_to "Tous les mandats", "mandats"%>
	</div>
</div>
<div class="span10">
	<div class="content_text content_text_home">
		<div class="">
			<h1>Supers Héros pour vos projets T.I.</h1>
			<p>
				DevelopMen, c'est d'abord six partenaires ayant fait leurs preuves depuis plus de 20 ans dans la réalisation de différents projets informatiques dans la région de Montréal.
			</p>
			<p>
				Notre équipe compte les joueurs clés dont tout projet TI a besoin:
			</p>
			<p>
				<ul>
					<li>
						Gestionnaires de projets / programmes
					</li>
					<li>
						Analystes d’affaires
					</li>
					<li>
						Architectes technologiques
					</li>
					<li>
						Concepteurs
					</li>
					<li>
						Développeurs
					</li>
					<li>
						Administration de système
					</li>
				</ul>
			</p>
			<p>
				Avec l'équipe DevelopMen, vos projets de moyenne à grande envergure sont entre bonnes mains.  Si la tâche se révèle trop fastidieuse, notre grand réseau de contacts nous permettra d’appeler d'autres supers héros à la rescousse.
			</p>
		</div>
	</div>
	<div class="content_text content_text_home">
		<h1>Réseaux sociaux</h1>
		<div class="row content_text_home">
			<h6>Twitter &nbsp;<%= image_tag 'social_networking/twitter_16.png'%></h6>
			<br />
			<div class="ajaxtwitter">
				<%= image_tag("spinner-small.gif")%>
			</div>
			<a href="https://twitter.com/DevelopMenGC" class="twitter-follow-button">Follow @DevelopMenGC</a><script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
		</div>
		<div class="row content_text_home">
			<h6>Facebook&nbsp; <%= image_tag 'social_networking/facebook_16.png'%></h6>
			<fb:like-box href="http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" width="532" show_faces="true" stream="true" header="false" data-border-color="#cccccc"></fb:like-box>
		</div>
	</div>
</div>
