<%= javascript_include_tag "home", "jquery.infinitecarousel" %> <!--
----------------------------------------------
Include the carrousel only in the home page.
Remove the if to see it in each page
----------------------------------------------
-->
<div id="carousel_container">
	<%= render "carousel" %>
</div>
<!-- <%= image_tag("header_01.jpg", :id=>"header_img") %> -->
<div class="span6">
	<div class="content_text content_text_mandats">
		<h6><%= t('last_mandates_title')%></h6>
		<br />
		<% if !@mandat.empty? %>
		<% @mandat.each do |m|%>
		<ul>
			<li>
				<span class="mandat_title"><%= m.title%></span>
			</li>
			<br>
			<p>
				<b>Description :</b>
			</p>
			<pre>
				<%= m.description %>
			</pre>
			<p>
				<b>Durée : </b>
			</p>
			<p>
				<%= m.duree %><%= " - possiblilité de renouvellement." if m.renew? %>
			</p>
			<p>
				<b>Lieu :</b>
			</p>
			<p>
				<%= m.location? ?  m.location : "Non dispo" %>
			</p>
			<p>
				<%= localize(m.created_at, :format=> '%d-%m-%Y') %>
			</p>
		</ul>
		<%end%>
		<%= link_to t("all_mandates"), "mandats"%>
		<% else %>
		<%= t("no_mandates")%>
		<%end%>
	</div>
</div>
<div class="span10">
	<div class="content_text content_text_home">
		<div class="">
			<h1><%= t('home_box1_title')%></h1>
			<%= t('home_box1_text_html')%>
			<%= t('home_box1_bullet_html')%>
			<%= t('home_box1_text2_html')%>
		</div>
	</div>
	<div class="content_text content_text_home">
		<h1><%= t('social_network_title')%></h1>
		<div class="row content_text_home">
			<h6>Google+ &nbsp;<%= image_tag 'social_networking/google_plus_16.png'%></h6>
			<br />
		<g:plusone size="tall" annotation="inline"></g:plusone>
		<!-- Place this render call where appropriate -->
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script');
				po.type = 'text/javascript';
				po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(po, s);
			})();

		</script>
		</div>

		<!-- Place this tag where you want the +1 button to render -->
		<div class="row content_text_home">
			<h6>Twitter &nbsp;<%= image_tag 'social_networking/twitter_16.png'%></h6>
			<br />
			<div class="ajaxtwitter">
				<%= image_tag("spinner-small.gif")%>
			</div>
			<a href="https://twitter.com/DevelopMenGC" class="twitter-follow-button">Follow @DevelopMenGC</a><script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
		</div>
		<div class="row content_text_home">
			<h6>Facebook&nbsp; <%= image_tag 'social_networking/facebook_16.png'%></h6>
			<fb:like-box href="http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" width="532" show_faces="true" stream="true" header="false" data-border-color="#cccccc"></fb:like-box>
		</div>
	</div>
</div>
