<div class="span16">
	<h1><%= t("team_title")%></h1>
	<br />
	<br />
	<!-- STEPHANE-->
	<div class="row equipe">
		<div class="panel_section">
			<a href="<%=equipe_path("stephane")%>"><div class="span5 content_contact stephane "></div></a>
			<div class="span10">
				<div class="box_text_contact">
					<div class="text_contact">
						<h2>Stéphane Desjardins</h2>
						<h5><%=t("team_president")%></h5>
						<p>
							<%=t("stephane_expertise")%>
						</p>
						<p>
							<a href="mailto:stephane@developmen.ca">stephane@developmen.ca</a>
						</p>
						<p>
							Tel: 514.500.2255 ext:222
						</p>
						<p style="text-align: right">
							<%= link_to t("team_details"), equipe_path("stephane")%>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SYLVAIN-->
	<div class="row equipe">
		<div class="panel_section">
			<div class="span10 text_right">
				<div class="box_text_contact">
					<div class="text_contact">
						<h2>Sylvain Bouchard</h2>
						<h5><%=t('team_vice_president')%></h5>
						<p>
							<%=t("sylvain_expertise")%>
						</p>
						<p>
							<a href="mailto:sylvain@developmen.ca">sylvain@developmen.ca</a>
						</p>
						<p>
							Tel: 514.500.2255 ext:223
						</p>
						<p style="text-align: right">
							<%= link_to t("team_details"), equipe_path("sylvain")%>
						</p>
					</div>
				</div>
			</div>
			<a href="<%=equipe_path("sylvain")%>"><div class="span5 content_contact sylvain "></div></a>
		</div>
	</div>
	<!-- SUE-->
	<div class="row equipe">
		<div class="panel_section">
			<a href="<%=equipe_path("suemarie")%>"><div class="span5 content_contact sue "></div></a>
			<div class="span10">
				<div class="box_text_contact">
					<div class="text_contact">
						<h2>Sue-Marie Garceau</h2>
						<h5><%=t('team_vice_president_coounsulting')%></h5>
						<p>
							<%=t("suemarie_expertise")%>
						</p>
						<p>
							<a href="mailto:sue-marie@developmen.ca">sue-marie@developmen.ca</a>
						</p>
						<p>
							Tel: 514.500.2255 ext:221
						</p>
						<p style="text-align: right">
							<%= link_to t("team_details"), equipe_path("suemarie")%>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BENOIT -->
	<div class="row equipe">
		<div class="panel_section">
			<div class="span10 text_right">
				<div class="box_text_contact">
					<div class="text_contact">
						<h2>Benoit Campeau</h2>
						<h5><%=t("team_founder")%></h5>
						<p>
							<%=t("benoit_expertise")%>
						</p>
						<p>
							<a href="mailto:benoit@developmen.ca">benoit@developmen.ca</a>
						</p>
						<p>
							Tel: 514.500.2255 ext:225
						</p>
						<p style="text-align: right">
							<%= link_to t("team_details"), equipe_path("benoit")%>
						</p>
					</div>
				</div>
			</div>
			<a href="<%=equipe_path("benoit")%>"><div class="span5 content_contact benoit "></div></a>
		</div>
	</div>
	<!--  FRED  -->
	<div class="row equipe">
		<div class="panel_section">
			<a href="<%=equipe_path("fred")%>"><div class="span5 content_contact fred"></div></a>
			<div class="span10">
				<div class="box_text_contact">
					<div class="text_contact">
						<h2>Frédéric Lalonde</h2>
						<h5><%=t("team_founder")%></h5>
						<p>
							<%=t("fred_expertise")%>
						</p>
						<p>
							<a href="mailto:frederic@developmen.ca">frederic@developmen.ca</a>
						</p>
						<p>
							Tel: 514.500.2255 ext:226
						</p>
						<p style="text-align: right">
							<%= link_to t("team_details"), equipe_path("fred")%>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- REGIS-->
	<div class="row equipe">
		<div class="panel_section">
			<div class="span10 text_right">
				<div class="box_text_contact">
					<div class="text_contact">
						<h2>Régis Brochu</h2>
						<h5><%=t("team_founder")%></h5>
						<p>
							<%=t("regis_expertise")%>
						</p>
						<p>
							<a href="mailto:regis@developmen.ca">regis@developmen.ca</a>
						</p>
						<p>
							Tel: 514.500.2255 ext:224
						</p>
						<p style="text-align: right">
							<%= link_to t("team_details"), equipe_path("regis")%>
						</p>
					</div>
				</div>
			</div>
			<a href="<%=equipe_path("regis")%>"><div class="span5 content_contact regis "></div></a>
		</div>
	</div>
</div>