<div id="mission" class="span16">
	<div class="row">
		<div class="panel_section">
			<div class="content_text">
				<h1><%= t("service_title")%></h1>
				<br />
				<p>
					<%= t("service_text")%>
				</p>
				<%= t("service_experts_html")%>
				<p>
					<%= t("service_text2")%>
				</p>
				<%= t("service_industries_html")%>
				<br />
				<br />
				<h6><%= t("recruitment")%></h6>
				<br />
				<br />
				<p>
					<%= t("recruitment_text")%>
				</p>
				<p>
					<%= t("recruitment_text2")%>
				</p>
				<%= t("recruitment_skills_html")%>
				<br />
				<br />
				<h6><%= t("method_first_step")%></h6>
				<br />
				<br />
				<p>
					<%= t("method_first_step_text")%>
				</p>
				<br />
				<br />
				<h6><%= t("method_second_step")%></h6>
				<br />
				<br />
				<p>
					<%= t("method_second_step_text")%>
				</p>
				<br />
				<br />
				<h6><%= t("method_final_step")%></h6>
				<br />
				<br />
				<p>
					<%= t("method_final_step_text")%>
				</p>
			</div>
		</div>
	</div>
</div>
