  <%= javascript_include_tag "contact" %>
	<div class="span16 main_panel_benoit">
		<div class="span8 content_contact_perso"></div>
		<div class="span8 content_contact_info benoit_border">
				<%if flash[:notice]%>
					
					<div class="alert-message warning fade in" data-alert="alert">
						<a class="close" href="#">×</a>
						<p>
							<span class="label important">Problem!</span>
							<%=flash[:notice]%>
						</p>
					</div>
					
				<%end%>

			<p id="benoit" class="info_perso" >
				<%=image_tag("spinner-small.gif")%>
			</p>

		</div>			
	</div>
			<!--
			<div clas="span1 alpha">&nbsp;</div>
			<div class="span1"><%=image_tag("social_networking/apple_32.png")%></div>
			<div class="span1 "><%=image_tag("social_networking/delicious_32.png")%></div>
			<div class="span1"><%=image_tag("social_networking/email_32.png")%></div>
			<div class="span1"><%=image_tag("social_networking/google_32.png")%></div>
			<div class="span1"><%=image_tag("social_networking/googletalk_32.png")%></div>
			<div class="span1"><%=image_tag("social_networking/twitter_32.png")%></div>
			<div class="span1"><%=image_tag("social_networking/linkedin_32.png")%></div>
			<div class="span1 omega"><%=image_tag("social_networking/facebook_32.png")%></div>
			-->
