<div id="contact" class="span16">
	<div class="row">
		<div class="panel_section">
			<div class="content_text">
				<h1>Pour nous joindre</h1>
				<p>
					Voici les différents moyen de communication par secteur pour nous joindre.
				</p>
				<br />
				<hr />
				<br />
				<h1>Facturation</h1>
				<p>
					Pour nous faire parvenir votre facture mensuelle, veuillez nous faxer ou attacher votre facture au couriel suivant. <h3><%= image_tag("social_networking/email_32.png",  :width=>'50px', :height=>'50px')%>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'facturation@developmen.ca', 'mailto:facturation@developmen.ca' %></h3>
				</p>
				<p>
					<h3><%= image_tag("printer_and_fax_w.png", :width=>'50px', :height=>'50px')%>&nbsp;&nbsp;&nbsp;&nbsp; 514.613.1256</h3>
				</p>
				<br />
				<hr />
				<br />
				<h1>Candidatures</h1>
				<p>
					Vous pouvez nous soummetre votre Curriculum Vitea à l'addresse suivante:
				</p>
				<p>
					<h3><%= link_to 'cv@developmen.ca', 'mailto:cv@developmen.ca' %></h3>
				</p>
				<br />
				<hr />
				<br />
				<h1>Informations</h1>
				<p>
					Pour toutes autres questions d'ordre générale, vous pouvez nous contacter par couriel.
				</p>
				<p>
					<h3><%= link_to 'info@developmen.ca', 'mailto:info@developmen.ca' %></h3>
				</p>
				<br />
				<hr />
				<br />
				<h1>Téléphones</h1>
				<div class="row">
					<div class="span7">
						<p>
							<div class="telbox"><%= image_tag("phone_icon.png",  :width=>'50px', :height=>'50px')%> <h3>Sue-Marie Garceau</h3><h4>Vice-Présidente Services conseils</h4><h4>514.500.2255 poste 221</h4></div>
						</p>
					</div>
					<div class="span7">
						<p>
							<div class="telbox"><%= image_tag("phone_icon.png",  :width=>'50px', :height=>'50px')%> <h3>Stéphane Desjardins</h3><h4>Président</h4><h4>514.500.2255 poste 222</h4></div>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span7">
						<p>
							<div class="telbox"><%= image_tag("phone_icon.png",  :width=>'50px', :height=>'50px')%> <h3>Sylvain Bouchard</h3><h4>Vice-Président Exécutif</h4><h4>514.500.2255 poste 223</h4></div>
						</p>
					</div>
					<div class="span7">
						<p>
							<div class="telbox"><%= image_tag("phone_icon.png",  :width=>'50px', :height=>'50px')%> <h3>Régis Brochu</h3><h4>Associé fondateur</h4><h4>514.500.2255 poste 224</h4></div> 
						</p>
					</div>
				</div>
				<div class="row">
					<div class="span7">
						<p>
							<div class="telbox"><%= image_tag("phone_icon.png",  :width=>'50px', :height=>'50px')%> <h3>Benoit Campeau</h3><h4>Associé fondateur</h4><h4>514.500.2255 poste 225</h4></div>
						</p>
					</div>
					<div class="span7">
						<p>
							<div class="telbox"><%= image_tag("phone_icon.png",  :width=>'50px', :height=>'50px')%> <h3>Frédéric Lalonde</h3><h4>Associé fondateur</h4><h4>514.500.2255 poste 226</h4></div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
