<div id="mission" class="span16">
	<div class="img_head">
		<%= image_tag("logo_carouselle.jpg", :width=>"960", :height=>"350") %>
	</div>
	<div class="row">
		<div class="panel_section">
			<div class="content_text">
				<h1><%=t("developmen_title")%></h1>
				<br />
				<p>
				<%=t("developmen_text1")%>
				</p>
				<p>
				<%=t("developmen_text2")%>
				</p>
				<p>
				<%=t("developmen_text3")%>
				</p>
				<br />
				<p>
				<%=t("developmen_text4")%>
				</p>
				<p>
				<%=t("developmen_text5")%>
				</p>				
				<%=t("developmen_achiev_html")%>
				<p>
				<%=t("developmen_text6")%>
				</p>
			</div>
		</div>
	</div>
</div>
