<!DOCTYPE html>
<html>
<head>
  <title>DevelopMen - Besoin d'un super heros pour vos projets T.I. Effectivement</title>
  <%= stylesheet_link_tag :all, :cache => true%>
  <%= javascript_include_tag "jquery-1.6.3", "jquery.infinitecarousel", "home", "bootstrap-alerts", "bootstrap-twipsy", "bootstrap-dropdown", "bootstrap-scrollspy" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
	<%= render "shared/header" %>	
	<%= yield %>
	<%= render "shared/footer" %>


</div>
</body>
</html>
