<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%=@title%></title>
		<%= stylesheet_link_tag "bootstrap.min","developmen", :cache => false%>
		<%= javascript_include_tag "jquery-1.6.3", "bootstrap-alerts", "bootstrap-dropdown" %>
		<%= csrf_meta_tag %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-27901694-1']);
			_gaq.push(['_trackPageview']); (function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if(d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=300680896620427";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		</script>
		<%= render "shared/header" %>
		<div class="container">
			<p class="notice">
				<%= notice %>
			</p>
			<p class="alert">
				<%= alert %>
			</p>
			<div class="main row show-grid">
				<form>
					<input type="hidden" name="locale" id="locale" value=<%= I18n.locale%> />
				</form>
				<%= yield %>
			</div>
		</div>
		<div class="footer">
			<%= render "shared/footer" %>
		</div>
	</body>
</html>
