<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>DevelopMen - Besoin d'un super heros pour vos projets T.I.</title>
		<%= stylesheet_link_tag "bootstrap.min","developmen", :cache => false%>
		<%= javascript_include_tag "jquery-1.6.3", "jquery.infinitecarousel", "home", "bootstrap-alerts", "bootstrap-twipsy", "bootstrap-dropdown", "bootstrap-scrollspy" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= render "shared/header" %>
		<div class="container">
			<p class="notice">
				<%= notice %>
			</p>
			<p class="alert">
				<%= alert %>
			</p>
			<div class="mainequipe row show-grid">
				<%= yield %>
			</div>
		</div>
		<div class="footer">
			<%= render "shared/footer" %>
		</div>
	</body>
</html>
